SECRET_KEY=*******
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,market-scraper.cubinez.ru

# PostgreSQL
DB_NAME=marketplace_db
DB_USER=marketplace_user
DB_PASS=******
DB_HOST=127.0.0.1
DB_PORT=5432

# Google Sheets
GOOGLE_SHEETS_CREDENTIALS_PATH=credentials.json
GOOGLE_SHEETS_SPREADSHEET_ID=*********
GOOGLE_SHEETS_ENABLED=True
GOOGLE_SHEETS_WORKSHEET=Data

# Параметры Selenium (технические)
WB_HEADLESS=True
WB_PROXY=
WB_TIMEOUT=30
WB_DELAY_RANGE=1,3
WB_REQUEST_DELAY=3,7

OZON_HEADLESS=True
OZON_PROXY=
OZON_TIMEOUT=30
OZON_MAX_SCROLLS=30
OZON_MIN_PRICE=100
OZON_MAX_PRICE=10000000
OZON_REQUEST_DELAY=5,10

CSV_ENABLED=True
CSV_PATH=data/products_{date}.csv

# Admin configuration
ADMIN_EMAIL=cubinez85@cubinez.ru
USERNAME=admin
ADMIN_PASSWORD=*******
SUPERUSER=cubinez85
PASSWORD_SUPERUSER=*******
